<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Help is not coming for you son....may God have mercy on your soul...
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>